<% if alert %>
  <!-- Alerts messages -->
  <div class="alert notif">
    <p class="alert alert-danger"><%= alert %></p>
  </div>
<% end %>

<% if notice %>
  <!-- Notices messages -->
  <div class="alert notif">
    <p class="alert alert-success"><%= notice %></p>
  </div>
<% end %>
