<div class="alert notif">

  <!-- Alerts messages -->
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <!-- Notices messages -->
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>

</div>
