body{
	font-family:'Arial', sans-serif;
	background:$backgroundColor;
	line-height:1.6em;
}

.navbar{
	overflow:auto;
	min-height:100px;
	background:$primaryColor;
	color:#fff;
	font-size:18px;
	border:0;
	border-radius: 0;
}

.navbar h1{
	margin:10px 0 0 0;
	padding:0;
}

.navbar a{
	color:#fff !important;
}

.navbar a:hover{
	color:#ff953f;
}

.navbar a.navbar-brand:hover{
	color:#fff !important;
}

.navbar ul{
	margin-top:22px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	background:none;
	color: $secondaryColor !important;
}

.btn{
	border:none;
	border-radius:0;
}

.btn-primary{
	background: $primaryBtnColor;
}

.btn:hover{
	background:#ccc;
}

footer{
	background: $primaryColor;
	color:#fff;
	text-align: center;
	height:60px;
	padding-top:20px;
	margin-top:30px;
}
