<div class="well">
  <p>This is a todo app. This is another kanban's application.</p>
  <%= image_tag 'todoWebApp.png', class: "img-responsive center-block img-fluid", alt: 'Home Illustration' %>
</div>
