<!DOCTYPE html>
  <html>
  <head>
    <title>Login | todoWebApp</title>
    <%= stylesheet_link_tag 'login' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
	  <%= yield %>
	</div>
  </body>
</html>